<p>Productos: {{ myShoppingCart.length }}</p>
<p>Total: ${{ total | currency: 'COP' }}</p>

<p>
  Today: {{ today | timeAgo }}
</p>

<button (click)="createNewProduct()">Add product</button>
<button (click)="onShowDetail('156165165165')">Show error product</button>

<div class="products--grid">
  <app-product *ngFor="let product of products" [product]="product"
    (addedProduct)="onAddToShoppingCart($event)" (showProduct)="onShowDetail($event)">
  </app-product>
</div>

<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChosen">
    <button (click)="onToggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="image">
      </ng-template>
    </swiper>
    <p>{{ productChosen.description }}</p>

    <button (click)="updateProduct()">Edit</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>

<button (click)="onLoadMore()">Load more</button>
