<app-nav></app-nav>
<router-outlet></router-outlet>



<!-- <hr>

<h1>Component 1</h1>
<p>
  <input type="text" [(ngModel)]="imgParent">
</p>
<app-img (loaded)="onLoaded($event)" [img]="imgParent"></app-img>

<hr>
<h1>Forms</h1>
<form #nyForm="ngForm" (ngSubmit)="onRegister()">
  <div class="input-group">
    <label for="">Name</label>
    <input type="text" required [(ngModel)]="register.name" name="name" id="name">
    <p>Error message</p>
  </div>
  <div class="input-group">
    <label for="">Email</label>
    <input type="email" required [(ngModel)]="register.email" name="email" id="email">
    <p>Error message</p>
  </div>
  <div class="input-group">
    <label for="">Password</label>
    <input type="password" required [(ngModel)]="register.password" name="password" id="password">
    <p>Error message</p>
  </div>

  <button [disabled]="nyForm.invalid" type="submit">Register</button>
</form>
<hr>
<h1>Class & style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">

<p class="message-error" [class.invalid]="nameInput2.invalid">The input is required</p>

<label>Name</label>
<input type="text" req uired #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Text text text</p>


<h1>*ngSwitch</h1>
<input type="text" [(ngModel)]="person.age">

<div [ngSwitch]="person.age">
  <p *ngSwitchCase="15">You are young</p>
  <p *ngSwitchCase="18">You are old</p>
  <p *ngSwitchCase="65">You are older</p>
  <p *ngSwitchDefault>No match</p>
</div>

<h1>*ngFor Object</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>$ {{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr>

<h1>*ngFor</h1>

<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>

<ul>
  <li *ngIf="names.length===0">No names</li>
  <li *ngFor="let name of names.sort(); index as i">{{ i }}. - {{ name }} <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr>

<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name">
<p *ngIf="person.name === 'eminson'">I am Eminson</p>
<p *ngIf="person.name === 'maissie'">I am Maissie</p>

<input type="text" [(ngModel)]="person.age">

<p *ngIf="person.age<18">You are young!</p>
<p *ngIf="person.age>18">You are old!</p>

<p *ngIf="person.name == 'eminson' && person.age>18; else eminsonBlock">You are Eminson and you are old!</p>

<ng-template #eminsonBlock>ngTemplate: You are not Eminson and you are young!</ng-template>

<hr>

<h1>Data Binding</h1>

<h2>NgModel</h2>
<input type="text" #nameInput="ngModel" required [(ngModel)]="person.name">
<input type="number" #ageInput="ngModel" min="10" max="18" required [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }}</p>



<h1>Others Event Binding</h1>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, explicabo tenetur inventore voluptatibus at
    molestias porro perferendis, minus, minima quod recusandae culpa optio alias laboriosam? Quaerat est dolores ipsam!
    Dolore?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo labore dolor culpa nisi repellat. Eveniet sequi
    consequatur aspernatur quibusdam a voluptatem, possimus optio qui. Libero eveniet accusamus odit aliquam
    accusantium?
  </p>
</div>

<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Name of person: {{ person.name }}</p>

<h1>Event Binding</h1>
<button [disabled]="btnDisabled">Send...</button>
<button (click)="toggleButton()">Toggle Button</button>

<input type="text" [value]="person.age">
<button (click)="incrementAge()">Age ++</button>

<h1>Property Binding</h1>

<button [disabled]="btnDisabled">Send...</button>

<input type="text" [value]="person.name">

<progress max="100" [value]="person.age"></progress>

<img [src]="person.avatar" alt="image" width="100" class="rounded">

<hr>

<h1>String interpolation</h1>

<h2>{{ 'Hola mundo'.repeat(3) }}</h2>

<p>3 + 3 = {{ 3 + 3 }}</p>

<h2>{{ name }} has {{ age }} age.</h2>


<img src="{{ img }}" alt="image" width="250"> -->
